/* Defining Fonts */
@font-face {
    font-family: "Poppins";
    src: local("Poppins"),
      url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "SourceSans";
    src: local("SourceSans"),
      url("../fonts/SourceSans/SourceSansPro-Regular.ttf")
        format("truetype");
  }
  /* Styling for dynamic stuff */
  .flash-message {
    margin-left: auto;
    margin-right: auto;
    background-color: #37fd12 !important;
  }
  .error {
    border-bottom: #ff0800 2px solid !important;
  }
  .success {
    border-bottom: #37fd12 2px solid !important;
  }
  input:focus {
    outline: none;
  }
  
  /* Main Styles */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .form-container {
    width: 500px;
    /* min-height: 640px; */
    background: radial-gradient(circle, #009bde1c, #926fd66c, #003087ac 115%);
    backdrop-filter: blur(8px);
    color: var(--secondary-color);
    padding: 5% 3%;
  }
  
  .header {
    font-family: "Poppins";
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .email-area,
  .password-area {
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 1%;
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-family: "Poppins";
    font-size: 16px;
    margin-bottom: 2%;
  }
  
  .email-input-container,
  .password-input-container {
    display: flex;
    align-items: center;
  }
  
  .email-input,
  .password-input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 18px;
    font-family: "SourceSans";
    padding: 2%;
    border-radius: 0 0 10px 10px;
  }
  
  .submit-container {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password {
    align-self: flex-end;
  
    font-family: "Poppins";
    width: fit-content;
    margin-bottom: 30px;
  }
  
  .login-button {
    font-family: "Poppins";
    font-size: 20px;
    letter-spacing: 0.8px;
    width: 100%;
    padding: 2% 0;
    margin-bottom: 10%;
    position: relative;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    background: var(--primary-color);
    color: var(--secondary-color);
  }
  
  .login-button:after {
    content: "";
    width: 100%;
    height: 5px;
    background: linear-gradient(
      40deg,
      #dc143c,
      #e22f72,
      #c071c7,
      #8d9fed,
      #78b0f6,
      #5ffbf1
    );
    background-size: 400%;
    position: absolute;
    z-index: -1;
    top: 99%;
    left: 0;
    border-radius: inherit;
    animation: glimmer 20s infinite alternate;
  }
  
  .login-button:active {
    transform: translateY(5px);
  }
  
  .login-button:active:after {
    width: 0;
  }
  
  @keyframes glimmer {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 100%;
    }
  }
  
  .form-container a {
    color: hsl(348, 100%, 60%);
    text-decoration: none;
    font-weight: bold;
  }
  
  .sso-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10%;
  }
  
  .google-login,
  .github-login,
  .facebook-login {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    padding: 0px !important;
    margin: 0px;
    transition: 0.4s all;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .google-login,
  .github-login,
  .facebook-login {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .google-login:hover,
  .github-login:hover,
  .facebook-login:hover {
    transform: scale(1.2);
  }
  .google-login {
    background-image: url("../icons/Google_Icon.svg");
  }
  .github-login {
    background-image: url("../icons/Github_Icon.svg");
  }
  .facebook-login {
    background-image: url("../icons/Facebook_Icon.svg");
  }
  
  .form-footer {
    text-align: center;
  }
  
  .redirect-info,
  .redirect-link {
    font-family: "Poppins";
    font-size: 1rem;
  }
  .redirect-info {
    margin-right: 1%;
  }