@font-face {
    font-family: 'futura-pt';
    src: url("../fonts/Futura/FuturaPTMedium.otf");
}

@font-face {
    font-family: 'futura-pt-bold';
    src: url('../fonts/Futura/FuturaPTBold.otf');
}

@font-face {
    font-family: 'limelight';
    src: url('../fonts/Limelight/Limelight.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

:root {
    --primary-color: black;
    --secondary-color: whitesmoke;
    --accent-color: crimson;
}

body {
    /* height: 200vh; */
    overflow: scroll;
    font-family: futura-pt;
}

* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    font-family: limelight;
    font-size: 1.5rem;
    justify-content: center;
    letter-spacing: 8px;
    padding: 1.5rem;
    width: 100%;
}

.sticky-nav {
    background-color: var(--secondary-color);
    display: flex;
    font-family: futura-pt;
    font-size: 1.2rem;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.sticky-nav > a {
    color: unset;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

a.active {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.sticky-nav:active {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.sticky-nav > a:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color)
}

