@font-face {
    font-family: "montserrat";
    src: url("../fonts/Montserrat/Montserrat-Medium.otf");
  }
  
  section {
    padding: 2% 7%;
  }
  
  table {
    border-collapse: collapse;
    font-family: montserrat;
    overflow-x: auto;
    position: relative;
    width: 100%;
    z-index: 3;
  }
  
  abbr {
    cursor: default;
  }
  
  thead {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
  }
  
  thead th:nth-child(1),
  tbody td:nth-child(1) {
    padding-left: 4rem;
    text-align: left;
    min-width: 225px;
  }
  
  thead th:nth-child(2),
  tbody td:nth-child(2) {
    white-space: nowrap;
  }
  
  /* Not supported on some browsers */
  /* :is(thead th, tbody td):nth-child(1) {
      padding-left: 5rem;
      text-align: left;
      min-width: 225px;
  }
  
  :is(thead th, tbody td):nth-child(2) {
      white-space: nowrap;
  } */
  
  th,
  td {
    padding: 14px 1vw;
  }
  
  tbody {
    color: var(--primary-color);
    text-align: center;
  }
  
  /* Rankings */
  
  td:before {
    position: absolute;
    left: 2rem;
  }
  
  tbody tr {
    margin-top: 1rem;
    border-bottom: solid thin white;
  }
  
  td:nth-child(1) {
    position: relative;
  }
  
  td:after {
    content: "";
    width: 2%;
    height: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
  }
  
  tr:nth-child(1) td:nth-child(1):after {
    background-color: gold;
  }
  
  tr:nth-child(2) td:nth-child(1):after,
  tr:nth-child(3) td:nth-child(1):after,
  tr:nth-child(4) td:nth-child(1):after,
  tr:nth-child(5) td:nth-child(1):after {
    background-color: silver;
  }
  
  /* :is(tr:nth-child(2),
  tr:nth-child(3),
  tr:nth-child(4),
  tr:nth-child(5)) td:nth-child(1):after {
      background-color: silver;
  } */
  
  tr:nth-child(1) td:nth-child(1):before {
    content: "1";
  }
  
  tr:nth-child(2) td:nth-child(1):before {
    content: "2";
  }
  
  tr:nth-child(3) td:nth-child(1):before {
    content: "3";
  }
  
  tr:nth-child(4) td:nth-child(1):before {
    content: "4";
  }
  
  tr:nth-child(5) td:nth-child(1):before {
    content: "5";
  }
  
  tr:nth-child(6) td:nth-child(1):before {
    content: "6";
  }
  
  tr:nth-child(7) td:nth-child(1):before {
    content: "7";
  }
  
  tr:nth-child(8) td:nth-child(1):before {
    content: "8";
  }
  
  tr:nth-child(9) td:nth-child(1):before {
    content: "9";
  }
  
  tr:nth-child(10) td:nth-child(1):before {
    content: "10";
  }
  
  /* Font awesome icon styles */
  .fas {
    font-size: 1.5rem;
  }
  
  .fa-check-circle {
    color: hsl(120, 100%, 60%);
  }
  
  .fa-times-circle {
    color: hsl(320, 100%, 55%);
  }
  
  .fa-minus-circle {
    color: hsl(249, 10%, 80%);
  }
  
  .fa-caret-up,
  .fa-caret-down,
  .fa-minus {
    margin-left: 15px;
  }
  
  .fa-caret-up {
    color: lime;
  }
  
  .fa-caret-down {
    color: crimson;
  }
  
  .fa-minus {
    font-size: 15px;
  }
  
  /* Table responsiveness */
  
  @media screen and (max-width: 1000px) {
    thead th:nth-child(1),
    tbody td:nth-child(1) {
      min-width: 175px;
    }
  
    /* :is(thead th, tbody td):nth-child(1) {
          min-width: 175px;
      } */
  }
  
  @media screen and (max-width: 750px) {
    nav {
      justify-content: center;
    }
  
    nav > a {
      display: none;
    }
  }
  
  @media screen and (max-width: 620px) {
    :root {
      --horizontal-padding: 5%;
    }
  
    .fas {
      font-size: 1.25rem;
    }
  
    table {
      display: block;
    }
  
    thead th:nth-child(1),
    tbody td:nth-child(1) {
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      background-color: var(--accent-color);
      box-shadow: 0px -1px 5px 2px rgba(32, 35, 36, 0.5);
    }
  
    thead th:nth-child(1) {
      background-color: var(--secondary-color);
      box-shadow: none;
    }
  
    section {
      min-height: calc(100vh - 200px);
    }
  }
  
  @media screen and (max-width: 535px) {
    :root {
      --horizontal-padding: 0;
    }
  }
  
  @media screen and (max-width: 319px) {
    h1 {
      font-size: 1.5rem;
    }
  }